:root {
	--border-color: ;
	--primary: rgb(45, 43, 17);
	--light: rgb(176, 159, 109);
	--secondary: oklch(0.9317 0.0046 78.3);
	--background: oklch(0.9671 0.0041 91.45);
	--gr: 1.61803398875;
	--gr-rem: calc(var(--gr) * 1rem);
	--gr-em: calc(var(--gr) * 1em);
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: "Fira Code", sans-serif;
	font-optical-sizing: auto;
	font-weight: normal;
	font-style: normal;
}

body {
	background-color: var(--background);
	color: rgb(30, 15, 9);
	background-attachment: fixed;
	overflow-x: hidden;
	max-width: 800px;
	margin: 0 auto;
	padding: var(--gr-em);
}

p,
pre,
code {
	line-height: var(--gr-rem);
}

a[href],
a[href]:visited {
	color: var(--primary);
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.row {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	gap: calc(var(--gr-em) / 2);
	overflow: hidden;
}

header {
	display: flex;
	flex-flow: column nowrap;
	gap: calc(var(--gr-em) / 2);
	border-bottom: 1px solid var(--secondary);
	margin-bottom: calc(var(--gr-em) / 2);
	view-transition-name: app-header;
}

header em {
	font-style: normal;
	font-weight: bold;
	flex: 1;
}

header picture {
	margin: 0 auto;
	overflow: hidden;
	width: 96px;
	height: 96px;
}

header picture img {
	width: 100%;
	height: 100%;
	border-radius: calc(var(--gr-em) / 4);
}

main {
	width: 100%;
	flex: 1;
}

main :first-child,
main>article :first-child {
	margin-top: 0;
}

pre {
	font-size: 14px;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	-moz-tab-size: 2;
	tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	padding: var(--gr-em);
	margin: calc(var(--gr-em) / 2) 0;
}

header nav ul :first-child {
	margin-left: 0;
}

header nav li a {
	padding: calc(var(--gr-em) / 4) calc(var(--gr-em) / 2);
	border-radius: calc(var(--gr-em) / 4);
	display: block;
}

header nav li a[data-current="current item"] {
	text-decoration: underline;
	border: 1px solid black;
}

/* Posts List */
article {
	margin-bottom: var(--gr-em);
	padding-bottom: var(--gr-em);
	border-bottom: 1px solid #eee;
	border-bottom: 1px solid var(--secondary);
}

main>h1 {
	display: none;
}

/* Post Tags */
a[rel="tag"],
a[rel="tag"]:visited {
	display: inline-block;
	vertical-align: text-top;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-size: .625em;
	padding: 0 .5em;
	line-height: 2em;
	height: 2em;
	border: 1px solid var(--secondary);
	background-color: var(--secondary);
	color: var(--primary);
	border-radius: calc(var(--gr-em) / 4);
	text-decoration: none;
	margin: 0 calc(var(--gr-em) / 2) calc(var(--gr-em) / 2) 0;
}

a[rel="tag"]:hover {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--secondary);
}

a[rel="tag"]:last-child {
	margin-right: 0;
}

@media screen and (min-width:768px) {
	:root {
		font-size: 1.1rem;
	}
}

body>svg {
	display: none;
}

footer {
	font-size: 0.8rem;
	margin-top: var(--gr-em);
	padding-top: var(--gr-em);
	border-top: 1px solid var(--secondary);
}

footer ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-flow: row nowrap;
	gap: 0.8em;
}

[data-current="post"] article h1,
[data-current="blog"] article h3 a {
	view-timeline-name: blog-title;
}

figure {
	margin: 0;
	display: block;
}

figcaption {
	font-size: 0.8em;
	padding: 0.4em 0.8em;
}

section+nav,
figure+aside {
	margin-top: 1rem;
}

@view-transition {
	navigation: auto;
}

.post-entry h1 {
	margin-bottom: 0;
}

.postslist article {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	gap: calc(var(--gr-em) / 2);
	margin: 0;
	padding: 0;
	font-size: 14px;
}

.postslist article h3 {
	margin: 0;
	flex: 1;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}