:root {
	--primary: blue;
	--secondary: #ddd;
	--background: #fefefe;
	--gr: 1.61803398875;
	--gr-rem: calc(var(--gr) * 1rem);
	--gr-em: calc(var(--gr) * 1em);
}

*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: "Recursive",sans-serif;
	font-variation-settings: "MONO" .2,"CASL" 0,"wght" 350,"slnt" 0,"CRSV" 0;
}

strong, h1, h2 {
	font-variation-settings: "MONO" .2,"CASL" 0,"wght" 600,"slnt" 0,"CRSV" 0;
}

html,
body {
	height: 100%;
}

body {
	background-color: var(--background);
	max-width: 800px;
	margin: 0 auto;
	display: flex;
	flex-flow: column nowrap;
}

main {
	flex: 1;
}

p,
pre,
code {
	line-height: var(--gr-rem);
}

a[href],
a[href]:visited {
	color: var(--primary);
}

a[href]:not(:hover) {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

header,
main,
footer {
	padding: calc(var(--gr-em) / 2);
}

main {
	padding-bottom: var(--gr-em);
	width: 100%;
}

main :first-child,
main > article :first-child {
	margin-top: 0;
}

pre {
	font-size: 14px;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	-moz-tab-size: 2;
	tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	padding: var(--gr-em);
	margin: calc(var(--gr-em) / 2) 0;
}

/* Header Logo (style as h2) */
header > em {
	display: block;
	font-size: calc(var(--gr-rem) * 1.2);
	margin: calc(var(--gr-em) / 2) 0;
	font-weight: bold;
	font-style: normal;
}

/* Header Nav */
header nav ul {
	padding: 0;
	list-style: none;
}

header nav ul :first-child {
	margin-left: 0;
}

header nav li {
	display: inline-block;
	margin: 0 .25em;
}

header nav li a {
	padding: calc(var(--gr-em) / 4) calc(var(--gr-em) / 2);
	border-radius: calc(var(--gr-em) / 4);
}

header nav li a[href]:not(:hover) {
	text-decoration: none;
}

header nav li a[data-current="current item"] {
	background-color: var(--primary);
	color: white !important;
}

/* Posts List */
article {
	margin-bottom: var(--gr-em);
	padding-bottom: var(--gr-em);
	border-bottom: 1px solid #eee;
	border-bottom: 1px solid var(--secondary);
}

main > section > article > * {
	margin-top: 0;
	margin-bottom: calc(var(--gr-em) / 2);
}

/* Post Tags */
a[rel="tag"],
a[rel="tag"]:visited {
	display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
	letter-spacing: .1em;
  font-size: .625em;
  padding: 0 .5em;
	line-height: 2em;
	height: 2em;
  border: 1px solid var(--secondary);
	background-color: var(--secondary);
	color: var(--primary);
  border-radius: calc(var(--gr-em) / 4);
  text-decoration: none;
	margin: 0 calc(var(--gr-em) / 2) calc(var(--gr-em) / 2) 0;
}

a[rel="tag"]:hover {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--secondary);
}

a[rel="tag"]:last-child {
	margin-right: 0;
}

@media screen and (min-width:768px) {
	:root {
		font-size: 1.1rem;
	}
}

footer ul {
	list-style: none;
	padding: 0;
	background-color: #f4f4f4;
	border-radius: calc(var(--gr-rem) / 4);
	padding: calc(var(--gr-rem) / 4);
}

footer ul li {
	display: contents;
}

footer ul a {
	display: block;
	background-color: #f4f4f4;
	border-radius: calc(var(--gr-rem) / 4);
	padding: calc(var(--gr-rem) / 4);
	transition: background-color 200ms ease;
}

footer ul a:hover {
	background-color: #e4e4e4;
}

footer ul li:first-child {
	margin-left: 0;
}

.books-list {
	display: flex;
	flex-flow: row nowrap;
	overflow-y: none;
	overflow-x: auto;
	height: auto;
	width: 100%;
	align-items: center;
	gap: 1rem;
}

.books-list a {
	text-decoration: none;
	color: currentColor;
}