.books-list {
	display: flex;
	flex-flow: row nowrap;
	overflow-y: none;
	overflow-x: auto;
	height: auto;
	width: 100%;
	align-items: center;
	gap: 1rem;
}

.books-list a {
	text-decoration: none;
	color: currentColor;
}