{% set readingList = bookslist | bookFilter('reading') %}
{% set toReadList = bookslist | bookFilter('to read') %}
{% set readList = bookslist | bookFilter('read') %}
<section>
	<h2>Reading</h2>
	<div class="books-list">
		{% if readlingList.length > 0 %}
			{% for book in readlingList %}
				{% isbnImage book.data.isbn %}
			{% endfor %}
		{% else %}
			Not reading anything at the moment.
		{% endif %}
	</div>
	<h2>To read</h2>
	<div class="books-list">
		{% if toReadList.length > 0 %}
			{% for book in toReadList %}
				{% isbnImage book.data.isbn %}
			{% endfor %}
		{% else %}
			Nothing planned to be read at the moment.
		{% endif %}
	</div>
	<h2>Read</h2>
	<div class="books-list">
		{% if readList.length > 0 %}
			{% for book in readList %}
				{% isbnImage book.data.isbn %}
			{% endfor %}
		{% else %}
			No books read.
		{% endif %}
	</div>
</section>
