{% set readingList = bookslist | bookFilter('reading') %}
{% set toReadList = bookslist | bookFilter('to read') %}
{% set readList = bookslist | bookFilter('read') %}
<script type="module" src="/static/js/kb-book.js"></script>
<section class="block">
	<h2>Läser</h2>
	<div class="books-list">
		{% if readingList.length > 0 %}
			{% for book in readingList %}
				{% isbnImage book.data.isbn %}
			{% endfor %}
		{% else %}
			Läser för närvarande ingen bok.
		{% endif %}
	</div>
	<h2>Att läsa</h2>
	<div class="books-list">
		{% if toReadList.length > 0 %}
			{% for book in toReadList %}
				{% isbnImage book.data.isbn %}
			{% endfor %}
		{% else %}
			Inget på läslistan just nu.
		{% endif %}
	</div>
	<h2>Läst</h2>
	<div class="books-list">
		{% if readList.length > 0 %}
			{% for book in readList %}
				{% isbnImage book.data.isbn %}
			{% endfor %}
		{% else %}
			Inga lästa böcker ännu.
		{% endif %}
	</div>
</section>
