<footer class="block">
  <ul>
    <li>
      <a href="https://x.com/enjikaka" rel="me">X</a>
    </li>
    <li>
      <a href="https://bsky.app/profile/jeremy.se" rel="me">Bluesky</a>
    </li>
    <li>
      <a href="https://primal.net/p/npub1p94p6d4p04mhjt2hdpkhhvkl93v7j7ada4w9lztj0y0fzg2m959sux5h5k" rel="me">Nostr</a>
    </li>
    <li>
      <a href="https://tangled.org/jeremy.se" rel="me">Tangled</a>
    </li>
    <li>
      <a href="https://github.com/enjikaka" rel="me">Github</a>
    </li>
    <li>
      <a href="https://www.last.fm/sv/user/enjikaka" rel="me">LastFM</a>
    </li>
    <!--<li><a href="https://mastodon.cloud/@karlsson" rel="me">mastodon.cloud</a></li>-->
    <li>
      <a href="https://www.linkedin.com/in/enjikaka" rel="me">Linkedin</a>
    </li>
  </ul>
</footer>