<footer class="block">
  <ul>
    <li><a href="https://twitter.com/enjikaka" rel="me nofollow noopener">Twitter</a></li>
    <li><a href="https://github.com/enjikaka" rel="me nofollow noopener">Github</a></li>
    <!--<li><a href="https://medium.com/@enjikaka" rel="me nofollow noopener">Medium</a></li>-->
    <li><a href="https://www.last.fm/sv/user/enjikaka" rel="me nofollow noopener">LastFM</a></li>
    <!--<li><a href="https://mastodon.cloud/@karlsson" rel="me nofollow noopener">mastodon.cloud</a></li>-->
    <li><a href="https://www.linkedin.com/in/enjikaka" rel="me nofollow noopener">Linkedin</a></li>
  </ul>
</footer>
