<style>
  .gallery-grid {
    display: grid;
    max-width: 515px;
    grid-template-columns: repeat(auto-fill, 128px);
    justify-content: center;
    border-collapse: collapse;
    grid-gap: calc(var(--gr-em) / 2);
    margin: 0 auto;
  }

  .gallery-grid figure {
    aspect-ratio: 1 / 1;
    height: 128px;
  }

  .gallery-grid picture {
    width: 100%;
    height: 100%;
  }

  .gallery-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>
<section class="gallery-grid">
  {% for galleryImage in galleryImages | reverse %}
    <a href="{{ galleryImage.url | url }}">
      {% if galleryImage.data.imagePath | length %}
        <figure style="view-transition-name: {{ galleryImage.data.imagePath | imagePathToViewTransitionName }}">
          {% image galleryImage.data.imagePath,
          galleryImage.data.title,
          "128" %}
        </figure>
      {% else %}
        {{ galleryImage.data }}
      {% endif %}
    </a>
  {% endfor %}
</section>