<nav>
  {% set navPages = collections.all | eleventyNavigation %}
  <ul class="row">
    {%- for entry in navPages %}
      {% set selected = page.url | isCurrentOrUnder(entry.url)  %}
      <li>
        <a href="{{ entry.url | url }}" {% if selected %} data-current="current item"{% endif %}>{{ entry.title }}</a>
      </li>
    {%- endfor %}
  </ul>
</nav>