<section class="block postslist">
	{% for post in postslist | reverse %}
		<article{% if post.url == url %} data-current="current item"{% endif %}>
			<small>
				<time datetime="{{ post.date | machineDate }}">{{ post.date | shortISO }}</time>
			</small>
			<h3>
				<a href="{{ post.url | url }}" {% if post.data.title %}style="view-transition-name: title-{{ post.data.title | slugify }}"{% endif %}>
					{% if post.data.title %}
						{{ post.data.title }}
					{% else %}
						Untitled
					{% endif %}
				</a>
			</h3>
			{% if post.data.tags %}
				<p>
					{% for tag in post.data.tags %}
						{%- if tag != "post" -%}
							{% set tagUrl %}/tags/{{ tag }}/{% endset %}
							<a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
						{%- endif -%}
					{% endfor %}
				</p>
			{% endif %}
		</article>
	{% endfor %}
</section>