<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">
	{% include "components/head.njk" %}
	<body>
		<header>
			{% image "static/img/me.jpg",
			"Jeremy Karlsson",
			"128" %}
			<em>
				{{ metadata.title }}
			</em>
			<div class="box">
				<lastfm-status></lastfm-status>
			</div>
			{% include "components/nav.njk" %}
		</header>
		<main>
			{{ content | safe }}
		</main>
		{% include "components/footer.njk" %}
		<script type="module" src="/static/js/lastfm-status.js"></script>
		<script defer data-domain="jeremy.se" src="https://plausible.glate.ch/js/script.js"></script>
	</body>
</html>