---
layout: layouts/base.njk
section: bookshelf
permalink: /bookshelf/index.html
eleventyImport:
  collections: ["book"]
---
<h1>{{ title }}</h1>

{{ layoutContent | safe }}

{% set bookslist = collections.book %}
{% include "components/bookslist.njk" %}
