---
layout: layouts/base.njk
section: post
---
<section class="block">
  <article class="post-entry">
    <h1 style="view-transition-name: title-{{ title | slugify }}">{{ title }}</h1>
    <p>
      <small>
        <time datetime="{{ date | machineDate }}">{{ date | shortISO }}</time>&nbsp;by&nbsp;<a href="/authors/{{ author | slug }}/">{{ author }}</a>
      </small>
    </p>

    {{ content | safe }}

    {% if tags %}
      <p>
        {% for tag in tags %}
          {%- if tag != "post" -%}
            {% set tagUrl %}/tags/{{ tag }}/{% endset %}
            <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
          {%- endif -%}
        {% endfor %}
      </p>
    {% endif %}

  </article>

  <nav>
    <a href="{{ '/blog/' | url }}">← Index</a>
  </nav>
</section>